@use "../../assets/style/index.scss" as *;

.modal-wraper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.58);
}

.close {
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }
    &:before,
    &:after {
        position: absolute;
        top: 0;
        left: 15px;
        content: " ";
        height: 33px;
        width: 2px;
        background-color: #333;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

.modal {
    width: 100%;
    height: 100%;
    background-color: white;

    @include media(tablet) {
        width: 500px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    p {
        padding: 5px 20px;
    }

    .image-bg {
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: cover;
    }
}
